Django==2.1.8
django-ajax-selects==1.7.1
django-betterforms==1.2
django-bootstrap3==11.0.0
django-mptt==0.10.0
django-paypal==1.0.0
django-post-office==3.1.0
django-timezone-field==3.0
djangorestframework==3.9.2
irc==17.1
jsonfield==2.0.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
whitenoise==5.0.1
gunicorn==20.0.4
