@font-face {
    font-family: 'Azonix';
    src: url('res/azonix.woff') format('woff');
    font-weight: normal;
}

.hiveaid-font {
    font-family: azonix, sans-serif;
}

body {
    color: white;
    font-family: serenity, sans-serif;

    background-image: url('images/background-tile.png');
    background-repeat: repeat;
    background-size: 60px;
}

a:hover, a:active, a:focus {
    color: #FFD421;
}

.navbar-container {
    background-color: #222;
    border-color: #080808;
    top: 0;
    height: 70px;
    border-width: 0 0 1px;
}

.navbar-custom {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    margin-bottom: 0;

    justify-content: center;

    width: 600px;
    max-width: 100%;
    margin: auto;
}

.nav-item {
    font-size: 24px;
    color: #FFD421 !important;
    margin: 0 10px;
}

.nav-item:hover {
    color: white !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2e3338;
}

.table-striped > tbody > tr:nth-of-type(odd) > td > button {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) > td > button {
    background-color: #2e3338;
}

th, td {
    border-top: 1px solid #1c1e22 !important;
}

.table .table {
    background-color: transparent;
    border: 1px solid black;
}

.text-gdq-black {
    color: #FFD421;
}

.btn {
    font-weight: 600;
    font-family: azonix, sans-serif;
}

.btn-hiveaid {
    color: black;
    background-color: #FFF100;
    border-color: #FFD421;
}

.btn-hiveaid:hover, .btn-hiveaid:active, .btn-hiveaid:focus {
    color: black;
    background-color: #FFD421;
    border-color: #FFD421;
}

.fa-inverse {
    color: #3A3A3C;
}

.totals {
    color: white;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container-custom {
    width: 1600px;
    max-width: 100%;
    margin: auto;
}

.button-container {
    width: 95%;
    max-width: 800px;
    margin: auto;
}

.banner {
    width: 1000px;
    max-width: 90%;    
    margin: 35px auto -30px auto;
    text-align: center;
    display: block;
}

.highlight > h1 {
    color: white;
    font-size: 40px;
    margin-top: -25px;
    margin-bottom: 30px;
}

.highlight > h1 > sup {
    font-size: 60%;
}

.donate-button-wrapper {
    max-width: 300px;
    margin: auto;
    padding-bottom: 15px;
}
.donate-button-wrapper.footer {
    padding-bottom: 50px;
}
.donate-button-wrapper .donate-button {
    color: black;
    position: relative;
    max-width: 100%;
}
.donate-button-wrapper .donate-button .donate-button-img {
    height: 100%;
    width: 100%;
}
.donate-button-wrapper .donate-button .donate-button-link {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
.donate-button-wrapper .donate-button .donate-button-link h3 {
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.charity-container {
    text-align: center;
}

.charity-container h3 {
    color: white;
}

.charity-container .charity-logo {
    max-width: 100%;
    margin-bottom: 15px;
    margin-top: -15px;
}

.charity-container .charity-logo::after {
    display: none !important;
}

.twitch-wrapper {
    max-width: 800px;
    margin: 20px auto;
}

.twitch-wrapper #twitch-embed {
    position: relative;
    max-width: 100%;
    padding-bottom: 56.25%;
}

.twitch-wrapper #twitch-embed iframe {
    position: absolute;
    left: 0;
    top: 0;
}

.info-wrapper {
    display: flex;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.info-wrapper .info-block {
    color: white;
    margin: 18px 0px;
    width: 400px;
}
.info-wrapper .info-block .info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    text-align: center;
    
}
.info-wrapper .info-block .info-header h1 {
    font-size: 34px;
    margin-bottom: 35px;
}
.info-wrapper .info-block p {
    font-size: 20px;
    font-family: serenity, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 18px;
}

/*fancy scrollbar*/

html {
    overflow-y: scroll;
}
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #171717;
}
html::-webkit-scrollbar {
    width: 20px;
    background-color: #171717;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #FFD421), color-stop(0.85, #FFF100));
}