@font-face {
    font-family: 'Azonix';
    src: url('static/res/azonix.woff') format('woff');
    font-weight: normal;
}

body {
    background-color: #3A3A3C;
    color: white;
    font-family: serenity, sans-serif;
}

.navbar-container {
    background-color: #222;
    border-color: #080808;
    top: 0;
    height: 70px;
    border-width: 0 0 1px;
}

.navbar-custom {
    font-family: azonix, sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    margin-bottom: 0;

    max-width: 800px;
    margin: auto;
}

.nav-item {
    font-size: 24px;
    color: #FFD421 !important;
}

.nav-item:hover {
    color: white !important;
}

.spacer {
    flex: 1 0 15px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2e3338;
}

.table-striped > tbody > tr:nth-of-type(odd) > td > button {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) > td > button {
    background-color: #2e3338;
}

th, td {
    border-top: 1px solid #1c1e22 !important;
}

.table .table {
    background-color: transparent;
    border: 1px solid black;
}

.text-gdq-black {
    color: #FFD421;
}

.btn {
    font-weight: 600;
    font-family: azonix, sans-serif;
}

.btn-hiveaid {
    color: black;
    background-color: #FFF100;
    border-color: #FFD421;
}

.btn-hiveaid:hover, .btn-hiveaid:active, .btn-hiveaid:focus {
    color: black;
    background-color: #FFD421;
    border-color: #FFD421;
}

.fa-inverse {
    color: #3A3A3C;
}

.totals {
    color: white;
}

.container-custom {
    max-width: 800px;
    margin: auto;
}

.button-container {
    width: 95%;
    margin: auto;
}

.banner {
    width: 90%;
    margin: 35px auto -30px auto;
    text-align: center;
    display: block;
}
