body {
    background-color: #3A3A3C;
    color: white;
}

.navbar-nav li a {
    color: #FFD421 !important;
}

.navbar-nav li a:hover {
    color: white !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2e3338;
}

.table-striped > tbody > tr:nth-of-type(odd) > td > button {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) > td > button {
    background-color: #2e3338;
}

th, td {
    border-top: 1px solid #1c1e22 !important;
}

.table .table {
    background-color: transparent;
    border: 1px solid black;
}

.text-gdq-black {
    color: #FFD421;
}

.btn-success, .btn-primary {
    color: black;
    background-color: #FFF100;
    border-color: #FFD421;
}

.btn-success:hover, .btn-primary:hover {
    color: black;
    background-color: #FFD421;
    border-color: #FFD421;
}

.fa-inverse {
    color: #3A3A3C;
}

.totals {
    color: white;
}