{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base Title{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}?v=OmKjAa2KXJ">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}?v=OmKjAa2KXJ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}?v=OmKjAa2KXJ">
    <link rel="manifest" href="{% static 'site.webmanifest' %}?v=OmKjAa2KXJ">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}?v=OmKjAa2KXJ" color="#ffd421">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}?v=OmKjAa2KXJ">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />

    <link rel="stylesheet" href="https://use.typekit.net/rqo6xgr.css">

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript">
        django = {};
        django.jQuery = jQuery;
    </script>

    <script type="application/javascript" src="{% static "date.format.js" %}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $(".datetime").each(function() {
                timestamp = Date.parse($(this).html());
                time = new Date(timestamp);
                $(this).html(time.format("mmmm dS, yyyy, h:MM:ss TT"));
            });
        });

        $(document).ready(function() {
            $(".datetimepicker").datetimepicker();
        });
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>

{% block nav %}
    <div class="navbar-container hiveaid-font">
        <div class="navbar-custom">
            <a class="nav-item" href="{% url 'tracker:index' event=event.short %}">{% trans "Home" %}</a>
            <!--<a class="nav-item" href="{% url 'tracker:prizeindex' event=event.short %}">{% trans "Prizes" %}</a>
            <a class="nav-item" href="{% url 'tracker:bidindex' event=event.short %}">{% trans "Bids" %}</a>-->
            <a class="nav-item" href="{% url 'tracker:donorindex' event=event.short %}">{% trans "Donors" %}</a>
            <a class="nav-item" href="{% url 'tracker:donationindex' event=event.short %}">{% trans "Donations" %}</a>
        </div>
    </div>
{% endblock %}

<div class="container-custom">
    {% block content %}{% endblock %}
</div>
{% block login %}{% endblock %}
{% block credits %}
    {% if djangoversion and pythonversion %}
        <div class="container-fluid text-center" style="margin-bottom:30px;">
            <br />{% trans "This site is an updated version of the GDQ Tracker" %}
            <br />{% trans "Modified for PUWP by Dorkmaster Flek" %}
            <br />Updated for HiveAid by <a target="_blank" href="https://github.com/UoMEsports">UoM Esports</a>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>
